@media (max-width: 580px){
    .profile{
    margin-top: 2rem;
    }
    .profile img{
    width: 50vw;
    }
    .profile h1{
    font-size: 1.8rem;
    padding: 0.5em 0em;
    } 
    #title{
        width:75vw;
    }
    .about .btn{
    width: 35vw;
    border-width: 0px;
    border-radius: 25px;
    }
    footer{
    font-size: 1rem;
    padding: 0.2em;
    }
    }
    @media (max-width: 402px){
        .profile h1{
            font-size: 1.5rem;
            padding: 0.4em 0em;
            } 
            .profile img{
                width:60vw;
            }
    }    